<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Let's Explore Symfony 4{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}



<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href=""> 
            
            {% if currentPath == "/login" %}
            {% trans %}
            Login
            {% endtrans %} 
            {% else %}
            {% trans %}
           Register
            {% endtrans %}
            
            {% endif %}    
            
            
           </a>
           
         <ul class="navbar-nav ml-auto">
{% for locale in locales  %}
    {% if locale != app.request.locale %}
    <li class="nav-item "> 
             <a class="nav-link" href="{{path('change-lang',{'locale':locale})}}">   <span class"sr-only">   <img src="{{ asset('images/'~ locale ~'.png') }}" alt="{{locale}}"/>   </span>   </a>  
           </li>
    {% endif %}
          
{% endfor %}
           {% if app.user %}
        <div class="mb-3">
         <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
         
          </ul>  
    </nav>
</header>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
